<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Similarity</title>
</head>
<body>
    <h1>Text Similarity</h1>
    <p>Enter two samples of text into the provided areas to calculate the similarity between them.</p>
    <form action="/similarity" method="post">
        <h4>First Text</h4>
        <textarea placeholder="Enter first text" name="text_1" rows="10" cols="60"></textarea>
        <br>
        <h4>Second Text</h4>
        <textarea placeholder="Enter second text" name="text_2" rows="10" cols="60"></textarea>
        <br>
        <button type="submit" >Process</button>
    </form>
</body>
</html>